@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Book>

@foreach (Book b in Model)
            {
                <h3>@b.Title</h3>

                <ul>
                    <li>By: @b.Author</li>
                    <li>Publisher: @b.Publisher</li>
                    <li>ISBN: @b.Isbn</li>
                    <li>@b.Classification/@b.Category</li>
                    <li>Pages: @b.PageCount</li>
                    <li>$@b.Price</li>

                </ul>
                <br />
            }